# Virtual environment
/.venv

# VSCode Workspace
/.vscode

# Vim
*.bak

# Python cache
__pycache__/
/.ruff_cache

# Environment variables
.env

# OS files
.DS_Store

# Log files
*.log

# Database files
db/
test_db/
*.db
*.sqlite
*.sqlite3
